input[type="text"]::placeholder {
                 
    /* Firefox, Chrome, Opera */
    text-align: center;
}
input[type="email"]::placeholder {
                 
    /* Firefox, Chrome, Opera */
    text-align: center;
}
input[type="password"]::placeholder {
                 
    /* Firefox, Chrome, Opera */
    text-align: center;
}
.nncc{
    
    height: 100vh
}
.jkdsb{
    height: 50rem 
}
.inner{
    display: flex;
    flex-direction: column;
}